canvas{border: 1px solid #000;background-color:#ebebeb;}
body{background-color :gray;}
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
.reset {
    margin-top: 10px;
    margin-left: 5px;
    float: left;
  }
  .button {
    background-color:green ; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}